
\.idea/

Kalaha\.iml

kalaha-model/target/

kalaha-service/target/

kalaha-ui/target/

kalaha-utils/target/

kalaha-web/target/

*.jar

*.class

*.txt

\.attach_pid11402

*.properties

*.iml

*.war

*.original

\.attach_pid22327

\.attach_pid28892

\.attach_pid28971

*.MF
